<script>
  import Header from "./Header.svelte";
  import Hero from "./Hero.svelte";
  import Content from "./Content.svelte";
  import Bottom from "./Bottom.svelte";
  import Footer from "./Footer.svelte";
</script>

<style>
  .app {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>

<div class="app">
  <Header />
  <Hero />
  <Content />
  <Bottom />
  <Footer />
</div>
