<style>
  .bottom {
    min-height: 947px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  .bottom-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0% 0%, 50% 40%, 100% 0, 100% 100%, 0% 100%);
    background-color: rgba(0, 138, 224, 0.1);
  }

  .bottom__inner {
    max-width: 969px;
    margin: auto;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 48px;
    display: inline-block;
    text-align: center;
  }

  .contents {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
  }

  .list {
    padding-left: 40px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 32px;
    margin-bottom: 20px;
  }

  .logo_wrapper {
    display: flex;
  }

  .logo_wrapper div {
    display: flex;
    flex: 1;
  }

  .logo_wrapper .android {
    justify-content: flex-end;
    margin-right: 5px;
  }

  .logo_wrapper .iphone {
    justify-content: flex-start;
    margin-left: 5px;
  }

  .phone {
    display: flex;
    align-items: center;
  }

  @media (max-width: 576px) {
    .bottom {
      padding-top: 15px;
      min-height: auto;
    }

    h2 {
      font-size: 22px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .bottom-background {
      clip-path: polygon(0% 0%, 53% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .bottom__inner {
      margin: 0;
    }

    .contents {
      flex-direction: column;
      padding-top: 0px;
    }

    li {
      font-size: 16px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .list {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .phone {
      align-items: center;
      flex-direction: row;
    }

    .phone img {
      width: 60%;
      height: auto;
      margin: auto;
    }

    .logo_wrapper {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
    }

    .logo_wrapper img {
      width: 100%;
    }
  }
</style>

<div class="bottom">
  <div class="bottom-background" />
  <div class="bottom__inner">
    <h2>What can you do with PushFit?</h2>
    <div class="contents">
      <div class="phone">
        <img src="/images/iphone.png" alt="pushfit" />
      </div>
      <div class="list">
        <ul>
          <li>100% Free!</li>
          <li>Stream your workouts live</li>
          <li>Save your live streams</li>

          <li>Get in the best shape of your life</li>
          <li>Upload pre-made content</li>
          <li>Build your own fitness community</li>
          <li>Connect with other</li>
          <li>Share your fitness</li>
          <li>Available on IOS and Android.</li>
        </ul>
      </div>
    </div>
    <div class="logo_wrapper">
      <div class="android">
        <a href="/" class="logo_android">
          <img src="/images/logo_android.png" alt="android" />
        </a>
      </div>
      <div class="iphone">
        <a href="/">
          <img src="/images/logo_iphone.png" alt="apple" />
        </a>
      </div>
    </div>
  </div>

</div>
