<style>
  main {
    max-width: 1140px;
    width: 100%;
    margin: auto;
  }
  h2 {
    text-align: center;
    font-size: 48px;
  }
  .section {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
  }

  .section ul {
    margin: 0;
    padding: 0;
  }

  .section li {
    margin: 0;
    padding: 0;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .section h4 {
    font-size: 42px;
    margin-bottom: 15px;
  }

  .section_1 {
    margin-bottom: 60px;
  }

  .section_img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .section_1 .section_img {
    padding-right: 40px;
  }

  .section_2 .section_img {
    padding-left: 40px;
  }

  @media (max-width: 576px) {
    .section {
      display: flex;
      flex-direction: column;
      line-height: 1.25;
    }

    h2 {
      font-size: 22px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .section h4 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
    }

    .section li {
      font-size: 16px;
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .section_1 .section_img {
      padding-right: 0px;
    }

    .section_2 .section_img {
      padding-left: 0px;
    }

    .section_1 {
      margin-bottom: 30px;
    }
  }
</style>

<main>
  <h2>PushFit is the internet's premier social fitness streaming platform.</h2>
  <section class="section section_1">
    <div class="section_img">
      <img src="/images/pilate.png" alt="" />
    </div>
    <div class="section_content">
      <h4>Share your passion & Knowledge</h4>
      <ul>
        <li>
          Live stream your workouts, diets, tips and tricks with people from all
          over the world.
        </li>
        <li>
          Stream your workouts live and share your fitness with others and be
          inspired to improve yours
        </li>
      </ul>
    </div>
  </section>

  <section class="section section_2">
    <div class="section_img">
      <img src="/images/kettle.png" alt="" />
    </div>
    <div class="section_content">
      <h4>Build your own fitness community</h4>
      <ul>
        <li>
          Build your own fitness community by sharing your workouts and diet
          tips live.
        </li>
        <li>
          Upload pre-made content that will help engage your community and
          encourage them to increase their fitness.
        </li>
        <li>
          Save your live streams for later viewing. PushFit let's you save your
          live streams so your community can view them at any time.
        </li>
      </ul>
    </div>
  </section>
</main>
