<style>
  footer {
    height: 124px;
    align-items: center;
    display: flex;
  }
  .copyright {
    padding-left: 51px;
    flex: 1;
  }
  .logo {
    padding-right: 34px;
  }

  @media (max-width: 576px) {
    footer {
      flex-direction: column;
    }
    .copyright {
      flex: 1;
      text-align: center;
      padding: 0;
      display: flex;
      align-items: flex-end;
      padding-bottom: 15px;
    }
    .logo {
      flex: 1;
      text-align: center;
      padding: 0;
    }
  }
</style>

<footer>
  <div class="copyright">PushFit.tv 2020 Copyright &copy;</div>
  <div class="logo">
    <img src="/images/logo.png" alt="pushfit" />
  </div>
</footer>
