<style>
  .header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .header__inner {
    padding-left: 45px;
  }

  @media (max-width: 576px) {
    .header {
      justify-content: center;
    }
    .header__inner {
      padding-left: 0px;
    }
    .header__inner img {
      margin: auto;
    }
  }
</style>

<div class="header">
  <div class="header__inner">
    <img src="/images/logo.png" alt="pushfit" />
  </div>
</div>
