<style>
  .hero {
    background-image: url("/images/muscularguy.png");
    background-position: center right;
    background-repeat: no-repeat;
    height: 581px;
    background-color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hero::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  svg {
    display: inline-block;
    position: absolute;
    bottom: -125px;
    left: 0;
    z-index: 2;
  }

  .hero__inner {
    max-width: 1140px;
    width: 100%;
    z-index: 3;
    padding-top: 50px;
  }

  .headline {
    color: white;
    font-weight: bold;
    font-size: 60px;
    line-height: normal;
    margin-bottom: 5px;
  }

  .subheadline {
    color: white;
    font-size: 48px;
    margin-bottom: 46px;
    display: inline-block;
    width: 60%;
  }

  .logo_wrapper {
    display: flex;
    flex-direction: row;
  }

  .logo_android {
    margin-right: 15px;
  }

  @media (max-width: 576px) {
    .hero {
      height: 300px;
    }
    .headline {
      font-size: 40px;
      text-align: center;
      width: auto;
    }

    .subheadline {
      font-size: 24px;
      text-align: center;
      width: auto;
      margin-bottom: 15px;
    }
    .logo_wrapper {
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-direction: row;
    }
    .logo_wrapper img {
      width: 100%;
      height: auto;
    }
    .logo_wrapper a {
      flex: 1;
    }
  }
</style>

<div class="hero">
  <div class="hero__inner">
    <h1 class="headline">Share your fitness</h1>
    <div class="subheadline">PushFit powers your fitness community.</div>
    <div class="logo_wrapper">
      <a
        href="https://play.google.com/store/apps/details?id=com.pushfit.mobile"
        class="logo_android">
        <img src="/images/logo_android.png" alt="android" />
      </a>

      <a href="https://apps.apple.com/us/app/pushfit-live/id1497472662?ls=1">
        <img src="/images/logo_iphone.png" alt="apple" />
      </a>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,160L80,165.3C160,171,320,181,480,165.3C640,149,800,107,960,106.7C1120,107,1280,149,1360,170.7L1440,192L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z" />
  </svg>
</div>
